body{width: 100%;  background:url(../img/con_bg.jpg) no-repeat center 60px #1b1a20; font-family: 'Microsoft Yahei';}
.navtop{width:100%; height: 55px;background:url(../img/nav_bg.png) no-repeat;}
.bg{width: 100%; height: 60px;  background: url(../img/nav_bg.png) no-repeat 0 5px;}
.navtop{width: 100%; height: 50px;}
.navtop .navtop1{width: 1000px; margin: 0 auto;}
.navtop .second{border-right: 1px solid #e1e1e1;}

.navtop h2{width:118px; height: 50px; background:url(../img/logo_dark.png) no-repeat; text-indent: -99999em; margin-left: 18px;}
.navtop li{font-size: 11px; color: #4a4a4a; line-height: 50px;}
.navtop .second i{width: 24px; height: 24px; background: url(../img/cyou_sprite.png) no-repeat; display:inline-block; margin-right: 6px;center;right; margin-top: 11px;}
.navtop .second a{margin-right: 21px;}
.navtop .second .zc{background-position:-139px 0px; }
.navtop .second .cz{background-position:-189px 0px; }
.navtop .second .cy{background-position:0px -104px; }
.navtop .second{margin-right: 18px;}
.navtop .kefu{width: 7px; height: 4px; background: url(../img/cyou_sprite.png) -206px -148px;margin-top:22px;}
.nav{width: 1000px; height: 551px;margin:0 auto; background: url(../img/header_main.jpg);}

.nav h1{width:190px; height: 100px; background: url(../img/logo.gif) ; text-indent: -999px;}
.nav .nav-1 .a11{margin-left: 28px; font-size: 12px; color: #fff; margin-top: 36px;}
.nav .nav-1 .a11 a{color:#fff;}
.down{width:1000px; height: 110px; margin:0 auto;}
.down .download{width:617px; height: 110px; }
.down .xiazai{width: 215px;height: 110px; background: url(../img/sprite.jpg) 0px 0px;}
.down dd{ background: url(../img/sprite.jpg);}
.down .zc{width:101px;height: 110px;background-position: -216px 0px;}
.down .cz{width:101px;height: 110px;background-position: -317px 0px;}
.down .dh{width:101px;height: 110px;background-position: -418px 0px;}
.down .xs{width:99px;height: 110px;background-position: 138px 0px;}
.down .right{width:383px; height:110px; }
.right .right-1{width: 383px; height: 65px; background: url(../img/sever.png) center center;}
.right .right-1 p{font-size: 12px; text-align: center; padding-top: 10px; color: #adb9e0;}
.right .right-1 p span{color: #f00000;}
.right .right-2{width: 381px; height: 42px; border: 1px solid #5e626d; background: #282c35; line-height: 43px; font-size:13px; color: #adb9e0; }
.right .right-2 p{margin-left:5px; margin-right: 30px;color: #adb9e0; background: url(../img/bg1.png) no-repeat center right; padding-right: 16px;}
.right .right-2 span{color: #f00000; text-decoration: underline;}
.right .right-2 .wx{width:41px; height:41px; background-position:-246px -220px; }
.right .right-2 .wb{width:41px; height:41px; background-position:-291px -220px; }
.right .right-2 .fx{width:41px; height:41px; background-position:-334px -220px; }
.banner{width: 998px; height: 303px;margin: 0 auto; border:1px solid #443b4f; border-top: none;}
.banner .banner1{width: 616px; height: 303px;}
.banner .banner2{width: 381px; height: 303px;border-left:1px solid #443b4f; }
.banner .banner2 .top{width: 381px; height: 57px; border-bottom:1px solid #4b4e57; background:#15181d; }
.banner2 .top li{width: 94px; height: 57px; border-right:1px solid #0a0d14; text-align: center; line-height: 57px; font-size: 12px;font-weight: bold; color: #fff; }
.banner2 .bottom{width: 381px; height: 245px; background:#322e3f;}	
.banner2 .bottom dt{font-size: 16px; color: #ff4606;padding-top: 18px; padding-left:18px;}
.banner2 .bottom dd{font-size: 12px; color: #9ca7ca;padding-left:18px; margin-top: 14px; padding-bottom: 14px;}
.banner2 .bottom span{margin-right: 20px;}
.f4{width: 1000px; height: 132px; margin:32px auto; }
.f4 li{width:242px; height:130px; border:1px solid #433b4f; margin-right: 8px; box-sizing:border-box;}
.introduce{width:1000px; height: 348px; margin: 0 auto;background: #1d1a23;}
.introduce .occupation{width:656px; height: 346px; border:1px solid #433b4f;}
.introduce .occupation .name{width:656px; height: 58px; border-bottom: 1px solid #29262f;}
.introduce .occupation .name li{width: 109px; height: 58px; border-left: 1px solid #29262f;  box-sizing: border-box; font-size: 16px; color:#d5d2d9;
text-align: center; line-height: 58px;}
.introduce .activity h3{font-size: 18px; color: #f3b464; line-height: 46px;background:url(../img/clock.png) no-repeat left center; padding-left:41px; margin-left: 22px; margin-bottom: 5px;}
.activity .ggod{width: 319px; height: 149px; border:1px solid #433b4f; margin-left: 20px; position: relative;}
.activity .ggod .box1{width: 319px;position: absolute;left:0; bottom: 0px;}
.activity .ggod .box1 .opa{width:319px;height: 100%; background: #000; opacity: 0.6; filter:alpha(opacity=60);position: absolute;left: 0; top: 0; }
.activity .ggod .box1 .text{position: relative; font-size: 12px; line-height: 36px;}
.activity .ggod .box1 .text p{color:#fff; margin-left: 5px;}
.activity .ggod .box1 .text span{color: #a997c3; margin-right: 5px; background: url(../img/smile.png) no-repeat left center; padding-left: 20px;}
.activity .huodon{margin-top: 10px; margin-left: 20px;}
.activity .huodon li{background: url(../img/bglong.png) no-repeat; margin-bottom: 3px;padding-left: 27px; font-size: 12px; color: #a6b2d8; line-height: 25px;padding-right: 10px;}

.main{width: 1000px; height: 760px; margin:30px auto; background: #1b1a20;}
.main .fast{width: 215px; height: 760px; }
.main .fast .entrance{width: 213px; height: 185px;  background: url(../img/bgsquare.png) no-repeat; margin-bottom: 25px;}
.main .fast .entrance h3{font-size: 15px; color: #f3ca90; line-height: 44px; text-align: center;}
.main .fast .entrance ul{margin-top: 12px;}
.main .fast .entrance li{font-size: 12px; color: #9587ab; margin-left: 25px; line-height: 28px;}
.main .player{width: 424px; height: 760px; margin-left: 19px;}
.main .player h4{font-size: 19px; color: #f3ca90; line-height: 42px; margin-left: 7px; background: url(../img/jiaoliu.png) no-repeat left center; padding-left: 44px;}
.main .player .gl li{width: 104px; height: 46px; font-size: 12px; color:#a295b7;border:1px solid #433b4f; border-right:none; text-align: center; line-height: 46px;}
.main .player .gl li.first{border-bottom: none;border}
.main .player .gl li.last{width:107px; border-right: none; border-top:1px solid #1b1a20; border-right:1px solid #1b1a20; background: url(../img/jia.png) no-repeat 8px center;}
.main .player .message{width: 422px; height: 256px; border:1px solid #433b4f; border-top:none; position: relative;}
.main .player .message .tu{width: 105px; height: 197px; border:1px solid #433b4f; position: absolute; left:40px; top: 23px;}
.main .player .message .tiezi{font-size: 12px; color: #9587ab; position:absolute;  left:182px; top:18px; }
.main .player .message .tiezi li{font-size: 12px; color: #9587ab;line-height: 26px;}

.main .data{width: 322px; height: 737px; margin-left: 20px; background: #27212d; }
.main .player h5{font-size: 19px; color: #f3ca90; line-height: 42px; margin-left: 7px; background: url(../img/meiti.png) no-repeat left center; padding-left: 44px; margin-top: 40px;}
.main .data h3{font-size: 19px; color: #f3ca90; line-height: 42px; margin-left: 7px; background: url(../img/book.png) no-repeat left center; padding-left: 44px;}
.main .data .door{width: 320px; height: 303px; border:1px solid #433b4f; margin-bottom: 36px;}
.main .data .door .greenhand{width: 286px; font-size: 12px; border-bottom: 1px dashed #594f67; margin-left: 24px; line-height: 59px;}
.main .data .door .greenhand .new{padding-left: 10px;}
.main .data .door .greenhand dd.bk{font-size: 12px; color: #9587ab; margin-right: 8px;}
.main .data .door .new{ width:78px; color:#fff; background: url(../img/beijin.png) no-repeat left center; margin-right: 20px;}
.main .data .door .greenhand.last{border-bottom: none;}
.main .data .door .button{display: block; width: 279px; height: 45px; border:3px solid #4b3f5c; background: #26212d; font-size: 22px; color: #b1a1ca; margin-bottom: 18px; margin-left: 17px;
							text-align: center; line-height: 45px;}
.main .data .shijue{font-size: 19px; color: #f3ca90; line-height: 42px; margin-left: 7px; background: url(../img/shijue.png) no-repeat left center; padding-left: 44px;
					margin-bottom: 6px;}
.main .data .game li a{font-size: 12px; color:#a295b7;}					
.main .data .game li{width: 104px; height: 46px; border:1px solid #433b4f; border-right:none; text-align: center; line-height: 46px;}
.main .data .game li.first{border-bottom: none;border}
.main .data .game li.last{width:107px; border-right: none; border-top:1px solid #27212d; border-right:1px solid #27212d; background: url(../img/jia.png) no-repeat 8px center;}
.main .data .shipin{width: 317px; height: 256px;border:1px solid #433b4f; border-top:none; position: relative; background: url(../img/shipin.png) no-repeat center center;}
.gonggao{width:100%; height:30px;text-align: center; font-size: 15px; color: #9587ab; background: url(../img/game_anc.jpg) no-repeat center center;padding-right: 9px;
		padding-top: 24px;}
.neirong{width: 100%; text-align: center; line-height: 30px; font-size: 14px; color: #615770;}
.hengtiao{width: 100%; height:10px;  margin-top: 20px; background: url(../img/nav_bg.png) center bottom;}
.foot{width:1000px; height:100px; margin: 0 auto;  background: #181818;}
.foot .a111{width: 200px; height: 100px; background: url(../img/a111.png) no-repeat;}
.foot .a222{width:48px; height: 100px;  background: url(../img/a222.png) no-repeat;}
.foot .a333{font-size: 12px; color: #767667; margin-top: 32px;}
























